body {
  font-family: Arial, sans-serif;
  margin: 20px;
  max-width: 400px;
}
#inputFields {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 20ch 5ch 7ch;
}
#inputFields input {
  padding: 0.5ch;
}
#inputFields .hid, #inputFields .hid+*, #inputFields .hid+*+* {
  display: none;
}
button {
  margin-top: 10px;
  padding: 8px 12px;
}
#resultOutput {
  font-size: 1.2em;
  margin-top: 10px;
}
